.hg/

#ignore thumbnails created by windows
Thumbs.db

#Ignore files build by Visual Studio
*_i.c
*_p.c
*.aps
*.bak
*.cache
.hgignore
*.ilk
*.ini
*.log
*.ncb
*.pch
*.sbr
*.suo
*.user
*.vspscc
[Rr]elease*/
_ReSharper*/

[Bb]in
[Dd]ebug*/
obj/
packages/

*.avi
*.doc
*.flac
*.gif
*.jpg
*.m4a
*.mkv
*.mov
*.mp3
*.mpeg
*.mp4
*.nrg
*.pdf
*.rtf
*.swp
*.wav
*.wma
*.wtv
