<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FileListManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="FIleListManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <FileListManager.Properties.Settings>
            <setting name="defaultDir" serializeAs="String">
                <value>C:\tmp\FileListMgr\RandomContent</value>
            </setting>
            <setting name="configDir" serializeAs="String">
                <value>C:\tmp\FileListMgr\SavedConfigs</value>
            </setting>
            <setting name="copyToDir" serializeAs="String">
                <value>C:\MediaTracker\ToBurn</value>
            </setting>
        </FileListManager.Properties.Settings>
        <FIleListManager.Properties.Settings>
            <setting name="defaultTopDir" serializeAs="String">
                <value>C:\tmp\WpfFiler\RandomTopContent</value>
            </setting>
            <setting name="rootJsonDir" serializeAs="String">
                <value>C:\tmp\WpfFiler\SavedFilerConfigs</value>
            </setting>
        </FIleListManager.Properties.Settings>
    </userSettings>
</configuration>